* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
  
  display: flex;
  background: linear-gradient(250deg, rgb(195, 61, 61), rgb(82, 28, 28));

  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper {
    display: flex;

    
    border: 1px solid rgba(0, 0, 0, 0.448);
    border-radius: 14px;
    flex-direction: column;

    background-color: white;

    box-shadow: 0 6px 20px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    padding: 20px 40px;
    gap: 20px 0px; /* row gap | column gap */   
}

#wrapper:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 17px rgba(0, 0, 0, 0.651);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  user-select: none;
}

h1 img {
  align-self: center;
  width: 45px;
  margin-bottom: 7px;
}

form#fill-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  background-color: rgba(255, 0, 0, 0.146);
  border-radius: 40px;
  gap: 10px;
  margin-bottom: 10px;
  transition: border 0.3s ease-in-out;
}

#fill-task.shake {
  animation: shake 0.5s ease-in-out;
}

form#fill-task > #input-text {
  background: transparent;

  border: none;
  outline: none; /* remove the border that appears when hovering on the input field*/
  
  font-size: 16px;

  width: 200px;
  margin-left: 20px;
  padding: 12px;
}

#button {
  border: none;
  border-radius: 40px;
  border: 3px solid rgba(118, 97, 97, 0.134);
  background: #ff9696;
  
  padding: 12px 15px;
  
  font-size: 16px;
  font-weight: 550;

  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

#button:hover {
  background: #ea6a6a;
  transform: scale(1.05);
}

ul li {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  list-style: none;

  font-size: 15px;
  margin: 5px 8px 12px 50px;
  user-select: none; /* remove the cursor change when hovering on each element of the list*/
  cursor: pointer;

  padding: 5px;
}

ul li::before {
  content: '';
  position: absolute; /* this circles will be placed according to the parent (relative)*/

  height: 15px;
  width: 15px;

  border: 3px solid rgb(166, 146, 146);
  border-radius: 50%;

  left: -30px; /* Move circle left of the text */
  top: 3px;  /* Move circle top of the text */
}

ul li.checked {
  color: grey;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../images/checked.png);
  background-size: 150%;       /* shrink so it fits inside circle */
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;  /* hide border when checked */
}

ul li span { /* cross settings */
  color: #d88d8dc1;
  
  position: absolute;
  right: 0;
  top: 5px;
  
  height: 30px;
  width: 30px;
  
  text-align: center;
  
  font-size: 18px;
  transition: transform 0.3s ease;
  
}

ul li span:hover { /* hover on cross settings */
  color: #a35858c1;
  transform: scale(1.2);
}

/* ################# */

@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0px); }
}
