* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  
  display: flex;
  background: linear-gradient(250deg, rgb(195, 61, 61), rgb(82, 28, 28));

  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper {
    display: flex;

    
    border: 1px solid rgba(0, 0, 0, 0.448);
    border-radius: 14px;
    flex-direction: column;

    background-color: white;

    box-shadow: 0 6px 20px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    padding: 20px 40px;
    gap: 20px 0px; /* row gap | column gap */   
}

#wrapper:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

h1 img {
  align-self: center;
  width: 45px;
  margin-bottom: 7px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  background-color: rgb(255, 202, 202);
  border-radius: 40px;
  gap: 10px;
  margin-bottom: 10px;
}

form#fill-task > #input-text {
  background: transparent;

  border: none;
  outline: none; /* remove the border that appears when hovering on the input field*/
  
  width: 200px;
  margin-left: 15px;
  padding: 4px;
}

#button {
  border: none;
  background: #ff9696;
  padding: 6px 12px;
  border-radius: 40px;
  border: 1px solid rgb(118, 97, 97);
  cursor: pointer;
  font-weight: 550;
  transition: background 0.2s ease, transform 0.2s ease;
}

#button:hover {
  background: #ea6a6a;
  transform: scale(1.05);
}

ul li {
  position: relative;
  list-style: none;

  font-size: 17px;
  margin: 8px 8px 12px 50px;
  user-select: none; /* remove the cursor change when hovering on each element of the list*/
  cursor: pointer;
}

ul li::before {
  content: '';
  position: absolute; /* this circles will be placed according to the parent (relative)*/

  height: 15px;
  width: 15px;

  border: 3px solid rgb(166, 146, 146);
  border-radius: 50%;

  left: -30px; /* Move circle left of the text */
  top: -3.5px;  /* Move circle top of the text */
}

ul li.checked {
  color: grey;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../images/checked.png);
  background-size: 150%;       /* shrink so it fits inside circle */
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;  /* hide border when checked */
}
